*.el
.ropeproject/*
.venv/*
*.aux
*.bbl
*.bcf
*.blg
*latexmk
*.fls
*.log
*.nav
*.pdf
*.out
*.toc
doc/_*
doc/readme.run.xml
doc/readme.snm
doc/readme.synctex.gz
.gitignore
doc/readme.vrb
doc/readme.xdv
